USE [master]
GO
/****** Object:  Database [HeznekDB]    Script Date: 26/11/2018 14:53:51 ******/
CREATE DATABASE [HeznekDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HeznekDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLSERVERDEV\MSSQL\DATA\HeznekDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HeznekDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLSERVERDEV\MSSQL\DATA\HeznekDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HeznekDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HeznekDB]
GO
/****** Object:  User [IIS APPPOOL\DefaultAppPool]    Script Date: 26/11/2018 14:53:52 ******/
CREATE USER [IIS APPPOOL\DefaultAppPool] FOR LOGIN [IIS APPPOOL\DefaultAppPool] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [IIS APPPOOL\DefaultAppPool]
GO
/****** Object:  Table [dbo].[academicInstitutTbl]    Script Date: 26/11/2018 14:53:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[academicInstitutTbl](
	[sn] [int] IDENTITY(1,1) NOT NULL,
	[nameOfInstitut] [nvarchar](500) NOT NULL,
	[placeOfInstitute] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[sn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bank]    Script Date: 26/11/2018 14:53:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bank](
	[sn] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cityTbl]    Script Date: 26/11/2018 14:53:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cityTbl](
	[sn] [int] IDENTITY(1,1) NOT NULL,
	[city] [nvarchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contactScholarAndCandidate]    Script Date: 26/11/2018 14:53:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contactScholarAndCandidate](
	[idScholar] [char](9) NOT NULL,
	[idCandidate] [char](9) NOT NULL,
	[dateOfCall] [date] NOT NULL,
	[study_funding] [nvarchar](max) NULL,
	[comments] [nvarchar](max) NULL,
	[return_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[idScholar] ASC,
	[idCandidate] ASC,
	[dateOfCall] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deposits_scholarship]    Script Date: 26/11/2018 14:53:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deposits_scholarship](
	[idScholar] [char](9) NOT NULL,
	[scholarship_sn] [int] NOT NULL,
	[deposite_month] [date] NOT NULL,
	[amount_of_deposit] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idScholar] ASC,
	[scholarship_sn] ASC,
	[deposite_month] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[event]    Script Date: 26/11/2018 14:53:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[event](
	[sn] [int] NOT NULL,
	[nameEvent] [nvarchar](300) NOT NULL,
	[subjectEvent] [nvarchar](300) NULL,
	[eventDate] [date] NULL,
	[eventHour] [time](7) NULL,
	[eventLocation] [nvarchar](500) NULL,
	[typeOfParticipants] [int] NOT NULL,
	[numParticipantsExpected] [int] NULL,
	[numOfActualParticipants] [int] NULL,
	[participant_sn] [int] NULL,
 CONSTRAINT [PK_event] PRIMARY KEY CLUSTERED 
(
	[sn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[files]    Script Date: 26/11/2018 14:53:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[files](
	[nameOfFile] [nvarchar](500) NOT NULL,
	[idOfTheUploader] [char](9) NOT NULL,
	[fileLocation] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[nameOfFile] ASC,
	[idOfTheUploader] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[generalDetailsActiveCandidate]    Script Date: 26/11/2018 14:53:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[generalDetailsActiveCandidate](
	[idCandidate] [char](9) NOT NULL,
	[psychometric_grade] [int] NULL,
	[worthy_of_advancement] [int] NULL,
	[worthy_of_advancement_grade] [int] NULL,
	[participation_heznek_highSchool] [int] NULL,
	[highSchool_participation] [nvarchar](max) NULL,
	[diagnosis_learning_disabilities] [int] NULL,
	[reason_for_request] [nvarchar](max) NULL,
	[general_life_story] [nvarchar](max) NULL,
	[health_problems] [int] NULL,
	[health_problems_deatails] [nvarchar](max) NULL,
	[financial_difficulties] [int] NULL,
	[financial_difficulties_details] [nvarchar](max) NULL,
	[family_issues] [int] NULL,
	[family_issues_details] [nvarchar](max) NULL,
	[average_wage_father] [int] NULL,
	[average_wage_mother] [int] NULL,
	[disabilty_parents] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[groups]    Script Date: 26/11/2018 14:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[groups](
	[sn] [int] NOT NULL,
	[group_name] [nvarchar](max) NULL,
 CONSTRAINT [PK_groups] PRIMARY KEY CLUSTERED 
(
	[sn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loginAndPermissions]    Script Date: 26/11/2018 14:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loginAndPermissions](
	[id] [char](9) NOT NULL,
	[password] [varchar](10) NULL,
	[userType] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[message]    Script Date: 26/11/2018 14:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[message](
	[idMessage] [int] NOT NULL,
	[idSender] [char](9) NULL,
	[message_subject] [nvarchar](max) NULL,
	[message_content] [nvarchar](max) NULL,
	[send_to_group] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idMessage] ASC,
	[send_to_group] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[organization_frames_highSchool]    Script Date: 26/11/2018 14:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[organization_frames_highSchool](
	[sn] [int] IDENTITY(1,1) NOT NULL,
	[name_of_frame] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[participantInEvent]    Script Date: 26/11/2018 14:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[participantInEvent](
	[sn] [int] NOT NULL,
	[participant_id] [char](9) NOT NULL,
 CONSTRAINT [PK_participantInEvent] PRIMARY KEY CLUSTERED 
(
	[sn] ASC,
	[participant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[scholar_bank_details]    Script Date: 26/11/2018 14:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[scholar_bank_details](
	[idScholar] [char](9) NOT NULL,
	[bank_name] [int] NOT NULL,
	[branch_number] [int] NOT NULL,
	[account_number] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idScholar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[scholarship]    Script Date: 26/11/2018 14:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[scholarship](
	[sn] [int] IDENTITY(1,1) NOT NULL,
	[scholarshipName] [nvarchar](200) NOT NULL,
	[budgetScholarship] [int] NULL,
	[admission] [nvarchar](4000) NULL,
	[status] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[serviceTbl]    Script Date: 26/11/2018 14:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[serviceTbl](
	[sn] [int] IDENTITY(1,1) NOT NULL,
	[typeOfService] [nvarchar](200) NULL,
	[longOfService] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[sn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[statusTbl]    Script Date: 26/11/2018 14:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[statusTbl](
	[numOfStatus] [int] IDENTITY(1,1) NOT NULL,
	[primaryStatusName] [nvarchar](100) NOT NULL,
	[secondaryStatusName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[numOfStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[studentScholarship]    Script Date: 26/11/2018 14:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[studentScholarship](
	[id] [char](9) NOT NULL,
	[sn] [int] NOT NULL,
	[amountOfGivanScholarship] [int] NULL,
	[numOfDeposits] [int] NULL,
	[currentYear] [int] NULL,
	[wasGivenInPast] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[sn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[studentVolunteer]    Script Date: 26/11/2018 14:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[studentVolunteer](
	[id] [char](9) NOT NULL,
	[scholarshipSn] [int] NOT NULL,
	[dateOfVolunteer] [date] NOT NULL,
	[startHour] [datetime] NOT NULL,
	[finishHour] [datetime] NOT NULL,
	[semester] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[scholarshipSn] ASC,
	[dateOfVolunteer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[studyFieldTbl]    Script Date: 26/11/2018 14:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[studyFieldTbl](
	[sn] [int] IDENTITY(1,1) NOT NULL,
	[field] [nvarchar](4000) NULL,
	[nameOfDegree] [nvarchar](4000) NULL,
PRIMARY KEY CLUSTERED 
(
	[sn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userTbl]    Script Date: 26/11/2018 14:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userTbl](
	[id] [char](9) NOT NULL,
	[firstName] [nvarchar](50) NOT NULL,
	[lastName] [nvarchar](50) NOT NULL,
	[dateOfBirth] [date] NULL,
	[status] [int] NOT NULL,
	[yearsInTheProgram] [int] NULL,
	[gender] [char](1) NULL,
	[phone] [varchar](10) NULL,
	[email] [varchar](4000) NULL,
	[cityNumber] [int] NULL,
	[address] [nvarchar](4000) NULL,
	[numOfSiblings] [int] NULL,
	[academicParents] [int] NULL,
	[school] [nvarchar](4000) NULL,
	[yearFinishSchool] [int] NULL,
	[typeOfService] [int] NOT NULL,
	[academicInstitution] [int] NULL,
	[studyField] [int] NULL,
	[startYear] [int] NULL,
	[excpectedCompletionYear] [int] NULL,
	[anotherScholarship] [varchar](3) NULL,
	[educationFunding] [nvarchar](4000) NULL,
	[typeOfDegree] [int] NULL,
	[comments] [nvarchar](max) NULL,
	[roleInService] [nvarchar](max) NULL,
	[easeOfService] [int] NULL,
	[residenceWhileStudiyng] [int] NULL,
	[service_description] [nvarchar](max) NULL,
	[averageDegree] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userTypeTbl]    Script Date: 26/11/2018 14:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userTypeTbl](
	[numOfType] [int] IDENTITY(1,1) NOT NULL,
	[userType] [nvarchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[numOfType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[bank] ON 

INSERT [dbo].[bank] ([sn], [name]) VALUES (1, N'בנק אגוד לישראל בע"מ​')
INSERT [dbo].[bank] ([sn], [name]) VALUES (2, N'בנק אוצר החייל בע"מ​​')
INSERT [dbo].[bank] ([sn], [name]) VALUES (3, N'בנק דיסקונט לישראל בע"מ​​')
SET IDENTITY_INSERT [dbo].[bank] OFF
SET IDENTITY_INSERT [dbo].[cityTbl] ON 

INSERT [dbo].[cityTbl] ([sn], [city]) VALUES (1, N'אופקים')
INSERT [dbo].[cityTbl] ([sn], [city]) VALUES (2, N'אור יהודה')
INSERT [dbo].[cityTbl] ([sn], [city]) VALUES (4, N'אור עקיבא')
SET IDENTITY_INSERT [dbo].[cityTbl] OFF
INSERT [dbo].[groups] ([sn], [group_name]) VALUES (1, N'מועמדים')
INSERT [dbo].[groups] ([sn], [group_name]) VALUES (2, N'מלגאים')
INSERT [dbo].[groups] ([sn], [group_name]) VALUES (3, N'מלגאים ומועמדים')
INSERT [dbo].[loginAndPermissions] ([id], [password], [userType]) VALUES (N'203936752', N'1234', 1)
SET IDENTITY_INSERT [dbo].[scholarship] ON 

INSERT [dbo].[scholarship] ([sn], [scholarshipName], [budgetScholarship], [admission], [status]) VALUES (1, N'קרן אלרוב ', 20000, N'ממוצע תואר מעל 80', N'Active')
INSERT [dbo].[scholarship] ([sn], [scholarshipName], [budgetScholarship], [admission], [status]) VALUES (2, N'dsfs', 588, N'sdfds', N'Active')
INSERT [dbo].[scholarship] ([sn], [scholarshipName], [budgetScholarship], [admission], [status]) VALUES (3, N'dsfs', 588, N'sdfds', N'Active')
SET IDENTITY_INSERT [dbo].[scholarship] OFF
SET IDENTITY_INSERT [dbo].[serviceTbl] ON 

INSERT [dbo].[serviceTbl] ([sn], [typeOfService], [longOfService]) VALUES (1, N'צבאי', N'מלא')
INSERT [dbo].[serviceTbl] ([sn], [typeOfService], [longOfService]) VALUES (2, N'צבאי', N'חלקי')
INSERT [dbo].[serviceTbl] ([sn], [typeOfService], [longOfService]) VALUES (3, N'לאומי', N'מלא')
SET IDENTITY_INSERT [dbo].[serviceTbl] OFF
SET IDENTITY_INSERT [dbo].[statusTbl] ON 

INSERT [dbo].[statusTbl] ([numOfStatus], [primaryStatusName], [secondaryStatusName]) VALUES (1, N'מלגאי', N'חדש')
INSERT [dbo].[statusTbl] ([numOfStatus], [primaryStatusName], [secondaryStatusName]) VALUES (2, N'מלגאי', N'ממשיך')
INSERT [dbo].[statusTbl] ([numOfStatus], [primaryStatusName], [secondaryStatusName]) VALUES (3, N'מלגאי', N'בוגר')
SET IDENTITY_INSERT [dbo].[statusTbl] OFF
SET IDENTITY_INSERT [dbo].[studyFieldTbl] ON 

INSERT [dbo].[studyFieldTbl] ([sn], [field], [nameOfDegree]) VALUES (1, N'computers', N'Computer Science')
INSERT [dbo].[studyFieldTbl] ([sn], [field], [nameOfDegree]) VALUES (2, N'מחשבים', N'Computer Science')
SET IDENTITY_INSERT [dbo].[studyFieldTbl] OFF
SET IDENTITY_INSERT [dbo].[userTypeTbl] ON 

INSERT [dbo].[userTypeTbl] ([numOfType], [userType]) VALUES (1, N'מנהל')
INSERT [dbo].[userTypeTbl] ([numOfType], [userType]) VALUES (2, N'עוזר מנהל')
INSERT [dbo].[userTypeTbl] ([numOfType], [userType]) VALUES (3, N'משתמש')
SET IDENTITY_INSERT [dbo].[userTypeTbl] OFF
ALTER TABLE [dbo].[scholarship] ADD  DEFAULT ('Active') FOR [status]
GO
ALTER TABLE [dbo].[academicInstitutTbl]  WITH CHECK ADD FOREIGN KEY([placeOfInstitute])
REFERENCES [dbo].[cityTbl] ([sn])
GO
ALTER TABLE [dbo].[contactScholarAndCandidate]  WITH CHECK ADD FOREIGN KEY([idCandidate])
REFERENCES [dbo].[userTbl] ([id])
GO
ALTER TABLE [dbo].[contactScholarAndCandidate]  WITH CHECK ADD FOREIGN KEY([idScholar])
REFERENCES [dbo].[userTbl] ([id])
GO
ALTER TABLE [dbo].[deposits_scholarship]  WITH CHECK ADD FOREIGN KEY([idScholar])
REFERENCES [dbo].[userTbl] ([id])
GO
ALTER TABLE [dbo].[deposits_scholarship]  WITH CHECK ADD FOREIGN KEY([scholarship_sn])
REFERENCES [dbo].[scholarship] ([sn])
GO
ALTER TABLE [dbo].[event]  WITH CHECK ADD  CONSTRAINT [FK__event__typeOfPar__628FA481] FOREIGN KEY([typeOfParticipants])
REFERENCES [dbo].[groups] ([sn])
GO
ALTER TABLE [dbo].[event] CHECK CONSTRAINT [FK__event__typeOfPar__628FA481]
GO
ALTER TABLE [dbo].[files]  WITH CHECK ADD FOREIGN KEY([idOfTheUploader])
REFERENCES [dbo].[userTbl] ([id])
GO
ALTER TABLE [dbo].[generalDetailsActiveCandidate]  WITH CHECK ADD FOREIGN KEY([idCandidate])
REFERENCES [dbo].[userTbl] ([id])
GO
ALTER TABLE [dbo].[generalDetailsActiveCandidate]  WITH CHECK ADD FOREIGN KEY([participation_heznek_highSchool])
REFERENCES [dbo].[organization_frames_highSchool] ([sn])
GO
ALTER TABLE [dbo].[loginAndPermissions]  WITH CHECK ADD FOREIGN KEY([userType])
REFERENCES [dbo].[userTypeTbl] ([numOfType])
GO
ALTER TABLE [dbo].[loginAndPermissions]  WITH CHECK ADD FOREIGN KEY([id])
REFERENCES [dbo].[userTbl] ([id])
GO
ALTER TABLE [dbo].[message]  WITH CHECK ADD FOREIGN KEY([idSender])
REFERENCES [dbo].[userTbl] ([id])
GO
ALTER TABLE [dbo].[message]  WITH CHECK ADD FOREIGN KEY([send_to_group])
REFERENCES [dbo].[userTypeTbl] ([numOfType])
GO
ALTER TABLE [dbo].[participantInEvent]  WITH CHECK ADD  CONSTRAINT [FK_participantInEvent_event] FOREIGN KEY([sn])
REFERENCES [dbo].[event] ([sn])
GO
ALTER TABLE [dbo].[participantInEvent] CHECK CONSTRAINT [FK_participantInEvent_event]
GO
ALTER TABLE [dbo].[participantInEvent]  WITH CHECK ADD  CONSTRAINT [FK_participantInEvent_userTbl] FOREIGN KEY([participant_id])
REFERENCES [dbo].[userTbl] ([id])
GO
ALTER TABLE [dbo].[participantInEvent] CHECK CONSTRAINT [FK_participantInEvent_userTbl]
GO
ALTER TABLE [dbo].[scholar_bank_details]  WITH CHECK ADD FOREIGN KEY([bank_name])
REFERENCES [dbo].[bank] ([sn])
GO
ALTER TABLE [dbo].[scholar_bank_details]  WITH CHECK ADD FOREIGN KEY([idScholar])
REFERENCES [dbo].[userTbl] ([id])
GO
ALTER TABLE [dbo].[studentScholarship]  WITH CHECK ADD FOREIGN KEY([id])
REFERENCES [dbo].[userTbl] ([id])
GO
ALTER TABLE [dbo].[studentScholarship]  WITH CHECK ADD FOREIGN KEY([sn])
REFERENCES [dbo].[scholarship] ([sn])
GO
ALTER TABLE [dbo].[studentVolunteer]  WITH CHECK ADD FOREIGN KEY([scholarshipSn])
REFERENCES [dbo].[scholarship] ([sn])
GO
ALTER TABLE [dbo].[studentVolunteer]  WITH CHECK ADD FOREIGN KEY([id])
REFERENCES [dbo].[userTbl] ([id])
GO
ALTER TABLE [dbo].[userTbl]  WITH CHECK ADD FOREIGN KEY([academicInstitution])
REFERENCES [dbo].[academicInstitutTbl] ([sn])
GO
ALTER TABLE [dbo].[userTbl]  WITH CHECK ADD FOREIGN KEY([cityNumber])
REFERENCES [dbo].[cityTbl] ([sn])
GO
ALTER TABLE [dbo].[userTbl]  WITH CHECK ADD FOREIGN KEY([status])
REFERENCES [dbo].[statusTbl] ([numOfStatus])
GO
ALTER TABLE [dbo].[userTbl]  WITH CHECK ADD FOREIGN KEY([studyField])
REFERENCES [dbo].[studyFieldTbl] ([sn])
GO
ALTER TABLE [dbo].[userTbl]  WITH CHECK ADD FOREIGN KEY([typeOfService])
REFERENCES [dbo].[serviceTbl] ([sn])
GO
ALTER TABLE [dbo].[generalDetailsActiveCandidate]  WITH CHECK ADD CHECK  (([diagnosis_learning_disabilities]=(0) OR [diagnosis_learning_disabilities]=(1)))
GO
ALTER TABLE [dbo].[generalDetailsActiveCandidate]  WITH CHECK ADD CHECK  (([disabilty_parents]=(0) OR [disabilty_parents]=(1) OR [disabilty_parents]=(2)))
GO
ALTER TABLE [dbo].[generalDetailsActiveCandidate]  WITH CHECK ADD CHECK  (([family_issues]=(0) OR [family_issues]=(1)))
GO
ALTER TABLE [dbo].[generalDetailsActiveCandidate]  WITH CHECK ADD CHECK  (([financial_difficulties]=(0) OR [financial_difficulties]=(1)))
GO
ALTER TABLE [dbo].[generalDetailsActiveCandidate]  WITH CHECK ADD CHECK  (([health_problems]=(0) OR [health_problems]=(1)))
GO
ALTER TABLE [dbo].[generalDetailsActiveCandidate]  WITH CHECK ADD CHECK  (([worthy_of_advancement]=(0) OR [worthy_of_advancement]=(1)))
GO
ALTER TABLE [dbo].[loginAndPermissions]  WITH CHECK ADD CHECK  (([id] like replicate('[0-9]',(9))))
GO
ALTER TABLE [dbo].[scholarship]  WITH CHECK ADD CHECK  (([status]='Not Active' OR [status]='Active'))
GO
ALTER TABLE [dbo].[studentVolunteer]  WITH CHECK ADD CHECK  (([semester]='a' OR [semester]='b'))
GO
ALTER TABLE [dbo].[userTbl]  WITH CHECK ADD  CONSTRAINT [check_typeDegree] CHECK  (([typeOfDegree]<(4)))
GO
ALTER TABLE [dbo].[userTbl] CHECK CONSTRAINT [check_typeDegree]
GO
ALTER TABLE [dbo].[userTbl]  WITH CHECK ADD CHECK  (([startYear]<=[excpectedCompletionYear]))
GO
ALTER TABLE [dbo].[userTbl]  WITH CHECK ADD CHECK  (([academicParents]=(2) OR [academicParents]=(1) OR [academicParents]=(0)))
GO
ALTER TABLE [dbo].[userTbl]  WITH CHECK ADD CHECK  (([anotherScholarship]='No' OR [anotherScholarship]='Yes'))
GO
ALTER TABLE [dbo].[userTbl]  WITH CHECK ADD CHECK  (([email] like '%_@__%.__%'))
GO
ALTER TABLE [dbo].[userTbl]  WITH CHECK ADD CHECK  (([gender]='F' OR [gender]='M'))
GO
ALTER TABLE [dbo].[userTbl]  WITH CHECK ADD CHECK  (([id] like replicate('[0-9]',(9))))
GO
ALTER TABLE [dbo].[userTbl]  WITH CHECK ADD CHECK  (([phone] like replicate('[0-9]',(10))))
GO
USE [master]
GO
